/* 
.flex-item-row {
    display: flex;
    border: 1px solid black;
    background-color: lightblue;
    height: 25%;
} */


/* .flex-item-sub {
    height: 100%;
    border: 1px solid black;
    width: 20%;
    word-break: break-all;
} */