* {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    height: 500px;
    margin-top: 1%;
    flex-direction: column;
    flex-basis: 19%;
    border: 1px solid black;
    line-height: 100px; /*vertical center all text*/
    animation: slideInTop 1s ease;
}

.flex-item {
    border: 1px solid black;
    /* height: 25%; */
}

.flex-row {
    display: flex;
    border: 1px solid black;
    background-color: cornflowerblue;
    height: 25%;
}

.flex-cell {
    height: 100%;
    border: 1px solid black;
    width: 20%;
    word-break: break-all;
}

button {
    position: relative;
    left: 86%;
    padding: 1% 3%;
    color: white;
    font-weight: bold;
    background-color: cornflowerblue;
    margin: 2% 0;
    animation: fadeIn 2s ease-in-out;
}

button:hover {
    color: cornflowerblue;
    background-color: white;
    cursor: pointer;
    transition: all 1s;
}

li {
    background-color: darkgoldenrod;
    list-style: none;
    margin: 1% 0;
}

li:nth-of-type(1) {
    animation: slideInRight 1s ease;
}

li:nth-of-type(2) {
    animation: slideInLeft 1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
       transform: translateX(-100%);
       opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slideInLeft {
    0% {
       transform: translateX(100%);
       opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {opacity: 0.5;}
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}


