<div class="flex-container">
    <div class="flex-item-row">
        <div class="flex-item-sub">&nbsp;</div>
        <div class="flex-item-sub" *ngFor="let feature of features">Feature {{feature.id}}</div>
        <div class="flex-item-sub">Composite</div>
    </div>

    <div class="flex-item-row" (click)="onSelectKey($event, key)" *ngFor="let key of keys; let i = index">
      <div class="flex-item-sub">{{key}}</div>
      <div 
        class="flex-item-sub" 
        (click)="onSetComposite(feature, key, i2, $event)" 
        *ngFor="let feature of features; let i2 = index" 
        [ngStyle]="{backgroundColor: feature.bgColor}"
      >
        {{feature[key]}}
      </div>
      <property-selector
        class="flex-item-sub"
        [rowKey]="key" 
        [selected]="features[i].selected"
        [features]="features"
        [selectedKey]="selectedKey"
        [selectedCell]="selection"
        [selectionColor]="selectionColor"
        [displayVal]="show(key)"
        [rowId]="i"
        [options]="options"
        (selectedStatus)="logStatus($event)">
      </property-selector>

    </div>
  </div>

  <button (click)="storeComposite()">Save</button>

<pre>selectedKey: {{selectedKey}}</pre>
<pre>selection: {{selection}}</pre>
<pre>options: {{options | json}}</pre>
<!-- <pre>Stored: {{storedObjs | json}}</pre> -->