<form [formGroup]="signupForm" novalidate (ngSubmit)="onSubmit()">
  <fieldset formGroupName="name">
    <div class="form-group">
      <label>First Name</label>
      <input formControlName="firstName" type="text" class="form-control">
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input formControlName="lastName" type="text" class="form-control">
    </div>
    <span *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched" class="help-block">First and last name required</span>

  </fieldset>


  <div 
    class="form-group"
    [ngClass]="{
      'border-success': email.valid && email.touched,
      'border-danger': email.invalid && email.touched
    }"
    >
    <label>Email</label>
    <input formControlName="email" type="email" class="form-control">
    <!-- <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="help-block">Email is required</span> -->
    <div *ngIf="email.invalid && email.touched" class="form-control-feedback">
      <p *ngIf="email.errors.required">Email required</p>
      <p *ngIf="email.errors.pattern">Email must contain the @ character</p>
    </div>

    <pre>Dirty? {{email.dirty}}</pre>
    <pre>Pristine? {{email.pristine}}</pre>
    <pre>Touched? {{email.touched}}</pre>
    <pre>Valid? {{email.valid}}</pre>
    <pre>Invalid? {{email.invalid}}</pre>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input formControlName="password" type="password" class="form-control">
    <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched" class="help-block">Password is required</span>
  </div>
  <div class="form-group">
    <label>Language</label>
    <select formControlName="language" type="text" class="form-control">
      <option value=''>Please select a language</option>
      <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
    </select> 
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<pre>{{signupForm.value | json}}</pre>

<!-- <ul *ngIf="formSubmitted" class="list-group">
  <li class="list-group-item">{{firstName | json}}  {{lastName | json}}</li>
  <li class="list-group-item">{{email | json}}</li>
</ul> -->