<form class="form-inline">
  <div class="form-group">
    <input 
      type="search" 
      class="form-control"
      placeholder="Enter search"
      [formControl]="searchField">
  </div>

</form>

<hr>

<div class="text-center">
  <p class="lead" *ngIf="loading">Loading...</p>
</div>

<div class="container">
  <ul class="list-group">
      <li *ngFor="let result of results | async" class="list-group-item">
        <h4 class="card-title">{{result.trackName}}</h4>
        <h6 class="card-subtitle">{{result.time}}</h6>
        <p class="card-text">{{result.artistName}}: {{result.collectionName}}</p>
        <img src="{{result.img}}" alt="" class="img-responsive">
      </li>
  </ul>
</div>