* {
    text-align: center;
}

.wrapper {
    display: grid;
    background-color: lightgoldenrodyellow;
    height: 200px;
    grid-template-columns: repeat(5,1fr);
}

.flex {
    display: flex;
    flex-direction: column;
}

.grid-cell {
    border: 1px solid black;
}