<div class="card card-block">
  <h4 class="card-title">Create Joke</h4>
  <div class="form-group">
    <input 
      type="text"
      class="form-control"
      placeholder="Enter the setup"
      #setup
      [value]="jokeSetup"
      (input)="jokeSetup = setup.value">
  </div>

  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Enter the punchline"
    #punchline
    [value]="jokePunchline"
    (input)="jokePunchline = punchline.value">
  </div>
  <button type="button" class="btn btn-primary" (click)="createJoke()">Create</button>
</div>
